@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Martel+Sans:wght@200&family=Mooli&family=Rancho&display=swap');


/* font-family: 'Handlee', cursive;
font-family: 'Martel Sans', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Rancho', cursive; */

body {
  height:20rem;
  width: auto;
  background-color: #F2F2F2;
}



.header{
  text-align: center;
  position: relative;
  background: #0D0D0D;
  height: 280px;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  box-shadow: 2px 10px 12px #8d909c;
}

.imglogo{
  height:180px;
  width: 200px;
}

.greeting{
  font-size: 40px;
  font-weight:800;
  margin-top: 45px;
  letter-spacing: 23px;
  color:#CE3426;
  font-family: 'Handlee', cursive;
}


/* h2{
  font-family: 'Mooli', sans-serif;
  padding: 10px;
  text-transform: capitalize;
  color: #F2F2F2;
} */
